---
import Layout from '../../../layouts/Layout.astro';

export function getStaticPaths() {
  return [
    { params: { country: "uk", language: "en", }},
    { params: { country: "it", language: "it",}},
    { params: { country: "de", language: "de",}},
  ];
}

const { country, language } = Astro.params;

import { t_lang } from '../../../utils/translations.js';

---

<Layout>
	<h1>{t_lang('Homepage', language)} {country}/{language}</h1>
</Layout>
