---
import Layout from '../../../layouts/Layout.astro';

export function getStaticPaths() {
  return [
    { params: { country: "uk", language: "en", }},
    { params: { country: "it", language: "it",}},
    { params: { country: "de", language: "de",}},
  ];
}

const { country, language } = Astro.params;

---

<Layout>
	<h1>Homepage for {country}/{language}</h1>
</Layout>
